---
layout: default
---


<head>
		 
  <style>      
  body
 {background-color:antiquewhite}

  </style>

</head>
         <body>
		




<div class="hero center">
      <img src="assets/img/hk.jpg" />

<h2> <div style="font-size:40px;color:darkturquoise">Hi, I'm fatemekazemi</div> </h2>
 
<h3> <div style="font-size:30px;color:darkturquoise">welcome to my website</div> </h3>
       

      <h6>
        <a href="/blog">
<div style="font-size:20px;color:darkturquoise"> FARSI BLOG </div>  </a> 
<h7>
</h7> 
                
        {% if site.twitter %}<a href="https://twitter.com/{{ site.twitter }}" target="_blank"><div style="font-size:20px;color:darkturquoise">TWITTER</div></a>{% endif %} 
        {% if site.github %}<a href="https://github.com/{{ site.github }}" target="_blank"><div style="font-size:20px;color:darkturquoise">GITHUB</div></a>{% endif %}
      </h6>
    </div>
